In [4]:
%pylab inline
import pandas as pd
import seaborn

Populating the interactive namespace from numpy and matplotlib

In [8]:
#Importing data
df = pd.read_csv('uber-raw-data-apr14.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564516 entries, 0 to 564515
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  564516 non-null  object
 1   Lat        564516 non-null  float64
 2   Lon        564516 non-null  float64
 3   Base       564516 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.2+ MB

In [14]:
df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [ ]:
# 'Date/Time' column is str rn, convert it into datetime...
df['Date/Time'] = df['Date/Time'].apply(lambda x: pd.to_datetime(x))

In [ ]:
df